body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #dff1ff, #fde2f3);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  width: 400px;
  padding: 25px;
  border-radius: 14px;
  border: 4px solid #8e24aa;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.gender {
  margin-top: 6px;
}

.gender input {
  width: auto;
  margin-right: 5px;
}

.gender label {
  display: inline;
  margin-right: 12px;
  font-weight: normal;
}

.terms {
  margin-top: 15px;
  font-size: 14px;
}

.terms input {
  width: auto;
  margin-right: 6px;
}

button {
  margin-top: 18px;
  width: 100%;
  padding: 10px;
  background-color: #8e24aa;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #6a1b9a;
}
